*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

Body {
  font-family: "poppins", sans-serif;
  color: #30261c;
}

body,
html {
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent !important; /*override bootstrap background nav color*/
}

/* navbar links */
.navbar a {
  font-family: "poppins", sans-serif;
}

/* hero section */
.hero {
  min-height: 864px;
  padding-top: 200px; /*navbar height*/
  background: linear-gradient(to bottom, #63483a 0%, #63483a 40%, #868686 100%);
}

h1 {
  font-family: "playfair display", sans-serif;
  font-size: 72px;
}

.hero-contents {
  color: white;
}

.c-nav-pill {
  border: 2px solid white;
  border-radius: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.c-btn-round {
  border-radius: 50px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.hero-img {
  position: absolute;
  top: -480px; /* or top: 50%; adjust as needed */
  left: 50%;
  transform: translateX(-50%); /* center image horizontally */
  width: 150%; /* make the image larger */
  max-width: none; /* override Bootstrap limits */
  height: auto;
}

/* coffee beans positioning */
.bean {
  position: absolute;
}

.bean-1 {
  top: -170px;
  left: 300px;
  width: 70px;
}

.bean-2 {
  top: 0;
  right: -60px;
}

.bean-3 {
  top: -210px;
  left: 0;
  width: 45px;
}

.bean-4 {
  top: 0;
  left: 300px;
  width: 50px;
}
